div {
  box-sizing: border-box;
}

div.menu {
  width: 100%;
  text-align: center;
}

div.filter {
  display: inline-block;
}

.clearfix {
  clear: both;
}

h1.menu-item {
  display: inline-block;
  margin: 0px 10px;
}
