<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='static/css/main.css'>
  </head>
  <body>
    <div class='menu'>
      <h1 class='menu-item'><a href='/'>Jobs</a></h1>
      <h1 class='menu-item'><a href='/companies'>Companies</a></h1>
      <h1 class='menu-item'>Posts</h1>
      <h1 class='menu-item'><a href='/coaches'>Coaches</a></h1>
    </div>
    <select>
      {% for tag in filter_data %}
      <option value='{{ tag }}'>{{ tag }}</option>
      {% endfor %}
    </select>
  </body>

</html>
